{% extends 'base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="bannerSection">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-auto order-md-last">
          <div class="bannerUserImg">
            <img src="{{me.userprofile.avatar.url}}" alt="{{me.first_name|title}} {{me.last_name|title}} avatar">
          </div>
        </div>
        <div class="col-md">
          <div class="bannerContent">
            <h1 class="xlTitle pb-3">Hola, Soy {{me.first_name|title}} <br> un {{me.userprofile.title}} </br></h1>
            <p>{{me.userprofile.bio}}</p>
            

            <div class="bannerBtnCol">
              <div class="row">
                <div class="col-auto">
                  <a download href="{{me.userprofile.cv.url}}" class="btn btnPrimary">Descargar CV</a>
                </div>
                <div class="col-auto">
                  <a href="{% url 'app_contact:contact' %}" class="btn btnOutline">Contacto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="sectionSpace pt-0">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h4 class="smTitle pb-3">Formación Académica</h4>
          <div class="progressCol">
            <div class="progressCard">
              <div class="swiper-slide">
                <div class="testimonialCard">
                  <div class="row align-items-center">
                    <div class="col-sm-auto">
                      {% for item in education_items %}
                      <div class="tImgCol">
                        <img src="{{item.image.url}}" alt="...">
                      </div>
                    </div>
                    <div class="col-sm">
                      <ul>
                      
                      <strong>{{item.educational_institution}}</strong>
                      <li>{{item.qualification}}, {{item.career}}</li>
                      <li>{{item.start_date}} - En curso</li>
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="sectionSpace pt-0 lightBg">
    <div class="container">
      <div class="row">
        
        <div class="col-md-auto">
          <div class="keySkillCol">
            <br>
            <h4 class="smTitle pb-3">Aptitudes</h4>
            {% for ap in me.userprofile.skills.all %}
            {% if ap.is_key_skill %}
            <div class="keySkillCard">
              {% if ap.image %}
              <div class="ksIconCol">
                <img src="{{ap.image.url}}" alt="...">
              </div>
              {% endif %}
              <p class="ksText">{{ap.name}}</p>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-md">
          <div class="">
            <br>
            <h4 class="smTitle pb-3">Tecnologias</h4>
            <div class="row">
            {% for tec in me.userprofile.skills.all %}
            {% if not tec.is_key_skill %}
              <div class="col-md-3">
                <div class="keySkillCard">
                  {% if tec.image %}
                  <div class="TecIcon">
                    <img src="{{tec.image.url}}" alt="...">
                  </div>
                  {% endif %}
                  <p class="ksText">{{tec.name}}</p>
                </div>
              </div>
            {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="sectionSpaceSm">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <h4 class="smTitle pb-3">Certificados</h4>
        </div>

      </div>
      <div class="sliderOuter">
        <div class="swiper certificatesSlider">
          <div class="swiper-wrapper">
            {% for c in certificate_items %}
            {% if c.image %}
            <div class="swiper-slide">
              <div class="cardStyle1">
                <h4 class="mdTitle cs1Title">
                  {{c.name}}
                </h4>
                <ul class="cardOptionCol">
                  <img src="{{c.image.url}}" alt="...">
                </ul>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            
          </div>
        </div>            
        <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
        <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="sectionSpace lightBg">
    <div class="container">
      <div class="portfolioCol">
        <div class="row pb-3">
          <div class="col">
            <h4 class="smTitle pb-3">Portfolio</h4>
          </div>
          <div class="col-auto">
            <a href="" class="simpleLink">Ver Todo</a>
          </div>
        </div>
        {% for p in portfolio_items %}
        {% if p.is_active %}
        <div class="portfolioCard">
          <div class="row g-4 align-items-center">
            <div class="col-md-auto">
              <div class="portfolioImgCol">
                <a href=""><img src="{{p.image.url}}" alt="..."></a>
              </div>
            </div>
            <div class="col-md">
              <div class="portfolioContentCol">
                <h4 class="lgTitle"><a href="">{{p.name}}</a></h4>
                <ul class="portfolioOption">
                  <li><span class="dateLbl">{{p.date}}</span></li>
                </ul>
                <p>{{p.description}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        
      </div>
    </div>
  </div>
</section>













{% endblock %}
<!-- ================================
End Content
================================= -->


